<div class="div_pubs clearfix">
  <% news_for_render.each_with_index do |pub,index| %>
      <% k = index%3 %>
      <div class="pub_medium pub_medium_<%= k %>">
        <div class="time"><%= pub[:time] %></div>
        <%= render_image_link_lazy_holder(pub[:pi]) %>
        <div class="rubric_title">
          <%= pub[:rubric] %>
        </div>
        <div class="title">
          <a title="<%= pub[:title] %>" href="<%= pub[:pi][:a_href]%>"><%= pub[:title] %></a>
        </div>
        <%= render_image_link_lazy(pub[:cl]) if pub[:cl].present? %>
        <%= link_to("#{pub[:href]}#comments_block",
                    title: "Комментариев: #{pub[:comments_count]}",
                    class: 'comments') do %>
            <i class="fa fa-comment"></i>
            <%= pub[:comments_count] %>
        <% end %>
      </div>
      <% if k == 2 && index != news_for_render.count-1 %>
      <div class="hr"></div>
      <% end %>
  <% end %>
</div>
<div class="div_will_paginate">
  <%= will_paginate news_list %>
</div>
