<%= form_for :comment, remote: true, :html => {id: 'comment_form'} do |f| %>
    <%= f.hidden_field(:user_id) %>
    <%= f.hidden_field(:fact_id) %>
    <%= f.hidden_field(:r_blurb_id) %>
    <div class="editor">
      <div class="text_holder">
        <%= f.text_area :message, id: 'comment_message', rows: 10, cols: 30 %>
      </div>
      <span id="error_text" class="error"></span>
    </div>
    <div class="buttons">
      <%= f.submit :id => 'comment_submit', class: 'btn btn-default', disabled:'disabled' %>
    </div>
<% end %>